// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: rgb(252,205,39);
$orange: #E67E22;
$green: #4CAF50;
$gray: #0E0000;
$purple: #5964ff;
$light-gray: #F4F4F4;
