.404 {
  background-color: rgb(252,205,39);
  color: #5964ff;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  font-family: 'poppins', 'sans-serif';
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.rails-default-error-page div.dialog {
  width: 95%;
  max-width: 33em;
  margin: 4em auto 0;
}

 .rails-default-error-page > div {
  border: 1px solid #e9cc56;
  border-right-color: rgb(252,205,39);
  border-left-color: rgb(252,205,39);
  border-bottom-color: rgb(252,205,39);
  border-top: rgb(252,205,39);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background-color: white;
  padding: 7px 12% 0;
  box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
}

.rails-default-error-page h1 {
  font-size: 100%;
  color: #5964ff;
  line-height: 1.5em;
}

.rails-default-error-page div.dialog > p {
  margin: 0 0 1em;
  padding: 1em;
  background-color: #F7F7F7;
  border: 1px solid #CCC;
  border-right-color: #999;
  border-left-color: #999;
  border-bottom-color: #999;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-color: #DADADA;
  color: #666;
  box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
}
