@import url('https://fonts.googleapis.com/css?family=Roboto|Sriracha&display=swap');

body{
  margin-top: 120px;
  background: $light-gray;
}

.user-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-rows: 0.2fr;
}

.req-index {
  background-color: #F4F4F4;
  height: 120px;
  width: 400px;
  margin: 10px;
  padding: 10px;
  align-self: center;
  border-radius: 5px;
  box-shadow: 3px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-rows: 0.2fr;
}

.card.user-card {
  background: "";
  border-top: none;
  -webkit-box-shadow: 0 0 0.5px 1px rgba(0,0,0,0.05), 0 -1px 1px -1px rgba(0,0,0,0.04), 0 0 0 -1px rgba(0,0,0,0.05);
  box-shadow: 0 0 1px 2px rgba(0,0,0,0.05), 0 -1px 1px -1px rgba(0,0,0,0.04), 0 0 0 -1px rgba(0,0,0,0.05);
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 0.5px 1px 0.06px rgba(4,26,55,0.16);
  box-shadow: 0 0.5px 1px 0.06px rgba(4,26,55,0.16);
  border: none;
  margin-bottom: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 470px;
}

.card .card-header+.card-block, .card .card-header+.card-block-big {
  padding-top: 0;
}

.user-card .card-block {
  text-align: center;
}

.card .card-block {
  padding: 16px;
}

.user-card .card-block .user-image {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  padding: 5px;
  width: 110px;
  height: 110px;
}

.user-card .card-block .user-image img {
  z-index: 20;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100px;
  height: 100px;
}

.img-radius {
  border-radius: 50%;
}

.f-w-600 {
  font-weight: 600;
}

.m-b-10 {
  margin-bottom: 10px;
}


.m-t-15 {
  margin-top: 15px;
}

.card .card-block p {
  line-height: 1.2;
  font-size: 14px;
  text-align: justify;
}

.text-muted {
  color: #0E0000!important;
  text-align: center;
}

.bg-c-yellow {
  background: linear-gradient(45deg, $yellow,#fccd27);
  border-radius: 5px;
  text-align: center;
  opacity: 0.5;
}

.m-t-10 {
  margin-top: 10px;
}

.p-20 {
  padding: 10px;
}

.user-card .card-block .user-social-link i {
  font-size: 16px;
  margin-bottom: 10px;
}

.user-card .card-block .user-image:before {
  bottom: 0;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.user-card .card-block .user-image:after, .user-card .card-block .user-image:before {
  content: "";
  width: 100%;
  height: 48%;
  border: 2px solid $yellow;
  position: absolute;
  left: 0;
  z-index: 10;
}

.user-card .card-block .user-image:after {
  top: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.user-card .card-block .user-image:after, .user-card .card-block .user-image:before {
  content: "";
  width: 100%;
  height: 48%;
  border: 2px solid $yellow;
  position: absolute;
  left: 0;
  z-index: 10;
}

.btn {
  padding: 8px 16px;
  background-color: $purple;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  width: auto;
}
.btn:hover {
  background-color: $yellow;
  color: white;
}

.img-show {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 3px solid $yellow;
  border-radius: 50%;
}
.img-show-s {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 3px solid $yellow;
  border-radius: 50%;
}

.down-button {
  position: absolute;
  bottom: 5px;
  width: 80%;
}
