@import url('https://fonts.googleapis.com/css?family=Roboto|Sriracha&display=swap');

body{
  margin-top: 120px;
  background: white;
}

.user-container {
  display: grid;
  grid-template-columns: 350px 350px;
  grid-template-rows: auto auto;
  column-gap: 10px;
  row-gap: 15px;
  margin: auto;
  justify-items: center;
  align-content: center;
  justify-content: space-evenly;
}

.card.user-card {
  background: "";
  border-top: none;
  -webkit-box-shadow: 0 0 1px 2px rgba(0,0,0,0.05), 0 -2px 1px -2px rgba(0,0,0,0.04), 0 0 0 -1px rgba(0,0,0,0.05);
  box-shadow: 0 0 1px 2px rgba(0,0,0,0.05), 0 -2px 1px -2px rgba(0,0,0,0.04), 0 0 0 -1px rgba(0,0,0,0.05);
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0.05px 0.05px 0.05px 0.05px rgba(4,26,55,0.16);
  box-shadow: 0 0.05px 0.05px 0.06px rgba(4,26,55,0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card .card-header+.card-block, .card .card-header+.card-block-big {
  padding-top: 0;
}

.user-card .card-block {
  text-align: center;
}

.card .card-block {
  padding: 25px;
}

.user-card .card-block .user-image {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  padding: 5px;
  width: 110px;
  height: 110px;
}

.user-card .card-block .user-image img {
  z-index: 20;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100px;
  height: 100px;
}

.img-radius {
  border-radius: 50%;
}

.f-w-600 {
  font-weight: 600;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-25 {
  margin-top: 25px;
}

.m-t-15 {
  margin-top: 15px;
}

.card .card-block p {
  line-height: 1.4;
}

.text-muted {
  color: #0E0000!important;
  text-align: center;
}

.bg-c-yellow {
  background: linear-gradient(45deg, $yellow,#fccd27);
  border-radius: 5px;
  text-align: center;
  opacity: 0.5;
}

.m-t-10 {
  margin-top: 10px;
}

.p-20 {
  padding: 20px;
}

.user-card .card-block .user-social-link i {
  font-size: 30px;
}

.user-card .card-block .user-image:before {
  bottom: 0;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.user-card .card-block .user-image:after, .user-card .card-block .user-image:before {
  content: "";
  width: 100%;
  height: 48%;
  border: 2px solid $yellow;
  position: absolute;
  left: 0;
  z-index: 10;
}

.user-card .card-block .user-image:after {
  top: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.user-card .card-block .user-image:after, .user-card .card-block .user-image:before {
  content: "";
  width: 100%;
  height: 48%;
  border: 2px solid $yellow;
  position: absolute;
  left: 0;
  z-index: 10;
}

.btn {
  padding: 8px 30px;
  background-color: $purple;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn:hover {
  background-color: $yellow;
  color: white;
}

.img-show {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 3px solid $yellow;
  border-radius: 50%;
}
.img-show-s {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 3px solid $yellow;
  border-radius: 50%;
  margin: 16px;
}

h1 {
  margin: 0;
  color: rgb(252,205,39);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: lighter;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  letter-spacing: 8px;
}

h2 {
  font-size: 16px;
  color: rgb(20, 19, 23);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  letter-spacing: 2px;
}

p {
  font-size: 16px;
  color: rgb(29, 29, 32);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
