h1 {
  margin: 0;
  color: rgb(252,205,39);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: lighter;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  letter-spacing: 8px;
}

h2 {
  font-size: 16px;
  color: rgb(20, 19, 23);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  letter-spacing: 2px;
}

p {
  font-size: 16px;
  color: rgb(29, 29, 32);
  opacity: .8;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.req-index {
  background-color: #F4F4F4;
  height: 120px;
  width: 400px;
  margin: 10px;
  padding: 10px;
  align-self: center;
  border-radius: 5px;
  box-shadow: 3px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-rows: 0.2fr;
}

.btn {
  padding: 8px 30px;
  width: 200px;
  background-color: #5964ff;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn:hover {
  background-color: $yellow;
  color: white;
}

a {
  text-decoration: none;
  color: $purple;
}

.img-show {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 3px solid $yellow;
  border-radius: 50%;
}
.img-show-s {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 3px solid $yellow;
  border-radius: 50%;
}
