<div class= "container"></div>
  <h1>All Requests</h1>
    <center>
    <% @requests.each do |f| %>
      <div class="req-index">
        <p><%= f.commuter.first_name %> is going to meet <%= f.helper.first_name %> at <%= f.location%></p>
        <p>Request accepted at <%= f.accepted_time %></p>
      </div>
    <% end%>
    </center>
</div>
