<div class= "container"></div>
  <h1>list of request made</h1>
    <% @requests.each do |f| %>
     <div class="card" style= "background-color: lavender;height: 120px;width: 400px; margin: 10px">
     The location is <%= f.location%>
      As commuter my name is <%= f.commuter.first_name %>
      i going to meet <%= f.helper.first_name %>
      request has made at <%= f.accepted_time %>

      </div>
    <% end%>

</div>
