<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<div class="banner" style="background-image: url(https://res.cloudinary.com/bunkyboy/image/upload/v1654200010/6371939_z0wakj.jpg);">
  <div class="container">
    <div class="banner-welcome">
    <% if user_signed_in? %>

    <h1>tracee</h1>
     <h2>get there safe.</h2>
     <br>
    <%= link_to "View Nearby Helpers", helpers_path, class: "btn btn-flat" %>
    <%= link_to "Become A Helper", helpers_path, class: "btn btn-flat" %>

    <% else %>

    <h1>tracee</h1>
      <h2>get there safe.</h2>
        <h3>Our Mission</h3>
        <p>We are a community of helpers empowering each other to feel safe.
          Feeling uneasy walking home late at night? Get connected to a local helper who will walk with you until you get home safe. Protect yourself and protect others with Tracee.</p>
          <h3><i class="fa-solid fa-person-walking"></i> get connected to helpers</h3>
          <h3><i class="fa-solid fa-square-phone"></i> add friends or family to your contact list</h3>
         <h3><i class="fa-solid fa-taxi"></i> contact local authorities</h3>
    <%= link_to "Join now", new_user_registration_path, class: "btn btn-flat" %>

    <% end %>

    </div>
  </div>
</div>

<br>
<div class="more-info">
  <img src="https://res.cloudinary.com/bunkyboy/image/upload/v1654206591/Walking_around-cuate_bckdoz.png" alt="lonely" align="right">
    <h3>How it works</h3><br>
      <p>As a helper and commuter: 1. explain how we connect to people nearby. 2. add family members to contact list. 3. pre-programmed emergency numbers </p>
</div>

<div class="more-info">
  <img src="https://res.cloudinary.com/bunkyboy/image/upload/v1654206602/3936748_h0ebk1.jpg" alt="lonely" align="left">
    <h3>Leave a review</h3>
      <p> Explain after the request you can leave a review for your helper.</p>
</div>

<div class="more-info">
  <img src="https://res.cloudinary.com/bunkyboy/image/upload/v1654206603/Bye-cuate_vonuvq.png" alt="lonely" align="right">
  <h3>Finishing statement</h3>
    <p>Add finishing statement about the benefits to the community</p>
</div>
