<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
<!-- The video -->
<video autoplay muted loop id="banner-video">
  <source src="https://res.cloudinary.com/bunkyboy/video/upload/v1655048346/pexels-yaroslav-shuraev-7645077_c4efve.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>
<!-- Contents -->
<div class="banner-welcome">
  <h1>get there safe.</h1>
</div>
  <% if user_signed_in? %>
    <div class="banner-welcome btn-btn">
      <%= link_to "Nearby Helpers", helpers_path, class: "btn" %>
    </div>
    <div class="banner-welcome btn-btn">
      <%= link_to "Become A Helper", edit_user_registration_path, class: "btn" %>
    </div>
  <% else %>
    <div class="banner-welcome btn-btn">
      <%= link_to "Join now", new_user_registration_path, class: "btn" %>
    </div>
  <% end %>
</div>
<div class="info-container">
  <div class="more-info">
    <img src="https://res.cloudinary.com/bunkyboy/image/upload/v1654206603/Bye-cuate_vonuvq.png" alt="lonely">
    <h3>Our Mission</h3><br>
    <p>Get that feel good factor helping others, or connect with helpers to feel safe on your travels. Become part of the Tracee community!
    </p>
  </div>
  <div class="more-info">
    <img src="https://res.cloudinary.com/bunkyboy/image/upload/v1654206591/Walking_around-amico_u7scje.png" alt="lonely">
    <h3>How It Works</h3><br>
     
      <p>As a commuter: 1. connect to people nearby, and get there safe. 2. store family and friends in an easy access contact list. 3. quick links to pre-programmed emergency numbers. 4. Or as a helper connect with commuters locally, and assit them to get there safe.</p>

  </div>
  <div class="more-info">
    <img src="https://res.cloudinary.com/bunkyboy/image/upload/v1654206602/3936748_h0ebk1.jpg" alt="lonely">
    <h3>Leave a Review</h3><br>
      <p> A review is appreciated, share your experiences with the local tracee community.</p>
  </div>
  <div class="more-info">
  <img src="https://res.cloudinary.com/bunkyboy/image/upload/v1654206591/Walking_around-cuate_bckdoz.png" alt="lonely">

  <h3>Get There Safe !</h3><br>
    <p> Join our community of helpers empowering each other.</p>
  </div>
</div>


<!-- javascript -->
<script>
var video = document.getElementById("banner-video");
var btn = document.getElementById("btn");

function myFunction() {
  if (video.paused) {
    video.play();
    btn.innerHTML = "Pause";
  } else {
    video.pause();
    btn.innerHTML = "Play";
  }
}
document.querySelector('video').playbackRate = 0.4;
</script>

</body>
</html>
