<div class="banner" style="background-image: url(https://res.cloudinary.com/bunkyboy/image/upload/v1653746768/bannerresized_qlqs9c.jpg);">
  <div class="container">
    <a class="btn btn-flat" href="#">Join now</a>
  </div>
</div>
