<div class="container">
<h1 style="center">Helper close to you</h1>
    <div class="cards">
      <% @helpers.each do |helper| %>
          <% if helper.availability == true %>
            <h1>Hi! I'm <%=" #{helper.first_name}  #{helper.last_name}"  %></h1>
            <p><%=link_to "Request help  #{helper.first_name}", helper_path(helper) %></p>
          <% else %>
          <% end %>
        <% end %>
    </div>
</div>
