.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 10px;
  width: 70em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-welcome {
  background-color: rgba(255, 255, 255, 0.90);
  border-radius: 3px;
  padding: 10px;
  width: 450px;
  float: right;
  text-align: center;
  margin-right: 40px;

  h1 {
    margin: 0;
    color: rgb(252,205,39);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    font-size: 40px;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
    text-align: right;
    letter-spacing: 12px;
  }

  h2 {
    font-size: 20px;
    color: rgb(2,0,71);
    opacity: .7;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    font-family: 'Roboto', sans-serif;
    text-align: right;
    letter-spacing: 4px;
  }

  h3 {
    font-size: 16px;
    color: rgb(2,0,71);
    opacity: .7;
    text-shadow: 1px rgba(0,0,0,0.2);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    padding-left: 5px;
  }

  p {
    font-size: 16px;
    color: rgb(2,0,71);
    opacity: .8;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    font-family: 'Poppins', sans-serif;
    text-align: justify;
  }
  .btn {
    padding: 8px 30px;
    background-color: #5964ff;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .btn:hover {
    background-color: #4CAF50;
  }
}

.more-info {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  padding: 10px;
  width: 60em;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding-left: 150px;

  img {
    width: 300px;
  }

  h1 {
    margin: 0;
    color: rgb(252,205,39);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    font-size: 40px;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
    text-align: right;
    letter-spacing: 12px;
  }

  h2 {
    font-size: 20px;
    color: rgb(2,0,71);
    opacity: .7;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    font-family: 'Roboto', sans-serif;
    text-align: right;
    letter-spacing: 4px;
  }

  h3 {
    font-size: 20px;
    color: rgb(2,0,71);
    opacity: .7;
    text-shadow: 1px rgba(0,0,0,0.2);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    padding-left: 5px;
  }

  p {
    font-size: 16px;
    color: rgb(2,0,71);
    opacity: .8;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    font-family: 'Poppins', sans-serif;
    text-align: justify;
  }
  .btn {
    padding: 8px 30px;
    background-color: #5964ff;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .btn:hover {
    background-color: #4CAF50;
  }
}
