.banner {
  height: 80vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-size: cover;
  padding-top: -100px;
}

.banner h1 {
  margin: 0;
  color: rgb(105, 103, 103);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: rgb(105, 103, 103);
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
