.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 250px 250px;
}

.banner h1 {
  margin: 0;
  color: rgb(105, 103, 103);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: rgb(105, 103, 103);
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
