.footer {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  padding: 0px 50px;
  color: rgba(255, 255, 255, 0.084);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #ffcc2a;
  opacity: 0.75;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: #5964ff;
}
