.cards_list{
color: #5964FF !important;
padding: 20px;

display: flex;
align-items: flex-end;
justify-content: space-between;
height: 100px;
font-size:larger;
margin: 15px;
border-radius: 5px;
background-color: #FFCE25;
position: relative;
box-shadow: 5px 5px 10px rgba(0,0,0,0.5);

}
.mbot{
  margin-bottom: 10px !important;
}
