.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.mapboxgl-ctrl-geocoder {
  position:center;
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
}

#instructions {
  position:center;
  margin: 20px;
  width: 25%;
  top: 0;
  bottom: 20%;
  left: 50%;
  padding: 20px;
  background-color: #fff;
  overflow-y: scroll;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
