.mapboxgl-popup {
  max-width: 400px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
}

#instructions {
  position:relative;
  margin: 20px;
  width: 25%;
  top: 0;
  bottom: 20%;
  padding: 20px;
  background-color: #fff;
  overflow-y: scroll;
  font-family: sans-serif;
}
