.mapboxgl-popup {
  max-width: 400px;
}

.mapboxgl-popup-content {

 opacity: 0.7 ;
}

.mapboxgl-popup-content p {
  text-align: center;
  font-family: "Open Sans", sans-serif;

}

.mapboxgl-ctrl-geocoder {
  position:center;
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
}

#instructions {
  position:relative;
  margin: 20px;
  width: 25%;
  top: 0;
  bottom: 20%;
  padding: 20px;
  background-color: #fff;
  overflow-y: scroll;
  font-family: sans-serif;
}


#map { position: absolute; top: 0; bottom: 0; width: 100%; }
