.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  align-items: baseline;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}
