.navbar-lewagon {
  background: white;
  width: 100%;
  height: 100px;
  position: absolute;
  color: white;
  top: 0;
  bottom: 0;
  padding-right: 50px;
  padding-left: 30px;
  z-index: 1100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 110px;

}

.nav-link a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-item li {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
