.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  position: relative;
  background: transparent;
  padding: 15px 0 0;
  align-items: baseline;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;


}
.colorback{
  color: rgb(214, 139, 48);

}
