.toggle {
  position : relative ;
  display : inline-block;
  width : 45px;
  height : 22px;
  background-color: rgb(231, 229, 229);
  border-radius: 30px;
  border: 0.5px #000047;
  margin-top: 10px;
  margin-right: 5px;
}

/* After slide changes */
.toggle:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000047;
  top: 1px;
  left: 1px;
  transition:  all 0.7s;
}

/* Toggle text */
p {
  font-size: 8px;
  text-align: center;
}

/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
  left : 24px;
}

/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
  background-color: #5964ff;
}

/* Checkbox vanished */
.checkbox {
  display : none;
}
