<%= simple_form_for(Review.new, :url => { :action => "create" }) do |f| %>
  <div id="rating-form">
    <label>Rating</label> <%= f.input :rating %>
  </div>
  <%= f.input :description %>
  <%= f.submit "Submit" %>
<% end %>

<script>
  $('#rating-form').raty({
    path: '/assets/images',
    scoreName: 'review[rating]'
  });
</script>
