<h1>Leave a Review</h1>
<br>
<div class="container">
  <div class="col-xs-4">
    <%= simple_form_for(Review.new, :url => { :action => "create" }) do |f| %>
      <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"}} %>
      <%= f.input :description %> <br>
      <%= f.submit "Submit", class: "btn" %>
    <% end %>
  </div>
</div>
